/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;600&display=swap");
/*
=============== 
Null Style
===============
*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  background: #F1F5F8;
}

button {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: #49a6e9;
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-gold: #c59d5f;
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

/*  global classes */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

._container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 80px 0;
}

.page__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 2rem 0;
}
.page__title::after {
  display: block;
  content: "";
  width: 4.5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin: 0.5rem auto 0;
}
.page .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 0 0 4rem 0;
}
.page .btn-container__filter-btn {
  background: transparent;
  color: var(--clr-gold);
  border: 2px solid var(--clr-gold);
  border-style: outset;
  border-radius: var(--radius);
  text-transform: capitalize;
  padding: 6px 14px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 400;
}
.page .btn-container__filter-btn:hover {
  background-color: var(--clr-gold);
  color: var(--clr-white);
}
.page .section-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2rem;
  justify-items: center;
}
.page .section-menu .menu-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px 1.25rem 1fr;
  grid-template-columns: 225px 1fr;
  max-width: 40rem;
  gap: 0 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page .section-menu .menu-item__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border: 4px solid var(--clr-gold);
  border-radius: var(--radius);
}
.page .section-menu .menu-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.page .section-menu .menu-item__header * {
  margin: 0 0 0.5rem 0;
}
.page .section-menu .menu-item__name {
  font-size: 1.05rem;
  font-weight: 500;
}
.page .section-menu .menu-item__price {
  color: var(--clr-gold);
  font-size: 1.05rem;
  font-weight: 600;
}
.page .section-menu .menu-item__price::before {
  content: "$";
}
.page .section-menu .menu-item__text {
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0 0 0;
}